/* 
PC: >= 1024px;
    Tablet: >= 740px & < 1024px
    Mobile: < 740px 
    */

/* PC */
@media (min-width:64em){

}
/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    header{
        position: relative !important;
        background-color: white !important;
        box-shadow: 0 0 10px rgb(144 144 144);
    }
    header nav {
        display: block;
        width: 300px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 11;
        box-shadow: 0 0 10px #919191;
        visibility: hidden;
    }
    nav .menu-item {
        display: block;
        border-bottom: 1px solid #e6e6e6;
        padding: 12px 20px;
        position: initial;
    }
    nav .sub-menu{
        position: initial;
        background:none;
        visibility: unset;
        box-shadow: none;
        display: none;
    }
    header .right {
        position: absolute;
        right: -10px;
        bottom: 5px;
        width: 120px;
        margin: auto;

    }
    header .right .icon{
        display: none;
    }
    header .login{
        display: none;
    }
    header .icon-menu{
        position: absolute;
        top: 50%;
        left: 5%;
        font-size: 35px;
        transform: translateY(-50%);
        display: block;
    }
    header .logo{
        width: auto;;
    }
    header .icon.bx-user{
        display: block;
        position: absolute;
        top: 50%;
        font-size: 35px;
        right: 5%;
        transform: translateY(-50%);
    }
}

/* Tablet */
@media (min-width:46.25em) and (max-width:63.9375em){
}
/* Mobile */
@media (max-width: 46.1875em) {
    
}