@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    outline: none;
}
*::selection{
    background-color: gray;
    color: white;
}
html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden ;
    /* font-family: 'Roboto', sans-serif; */
}

a{
    text-decoration: none;
}
p{
    font-size: 1.2rem;
}
.text-center{
    text-align: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    /* background-color: rgb(60, 60, 60); */
    background: url(../img/bg-left.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    animation: openHeader 2s forwards;
}

@keyframes openHeader{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
}
#iconMusic{
    position: absolute;
    top: 2%;
    right: 5%;
    font-size: 2rem;
    cursor: pointer;
    transition: .5s;

}

#iconMusic:hover{
    transform: scale(1.2);
    transition: .5s;
}
header .avatar{
    width: 50%;
    border-radius: 50%;
    margin: 2rem auto 3rem;
    box-shadow: 0 0 1rem;
    display: block;
    animation: lunglinh 5s ease infinite;
}

@keyframes lunglinh{
    0%{
        box-shadow: 0 0 2rem;
    }
    50%{
        box-shadow: 0 0 .1rem;
    }
    100%{
        box-shadow: 0 0 2rem;
    }
}

header .name,
header .job,
header .phone a,
header .email a{
    color: inherit;
}
header .job{
    background-color: rgba(255, 255, 255, 0.4);
    display: inline-block;
    padding: 0.3rem 0.8rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
}
.icon-link-list{
    margin: .5rem 0;
}
.icon-link-list a{
    color: inherit;
    text-decoration: none;
    font-size: 2rem;
    margin: 0 .3rem;
}
header .phone,
header .email{
    margin: 1rem 0;
    font-weight: 200;
}
.icon-link-list a:hover,
header .phone:hover a,
header .email:hover a{
    color: gray;
}


a.download-cv{
    position: relative;
    display: inline-block;
    padding: 0.5rem 2rem;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 2rem;
    border: 0.1rem solid white;
    border-radius: .5rem;
    overflow: hidden;
    z-index: 0;
}
a.download-cv::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: .5s;
}
a.download-cv:hover{
    /* background-color: white; */
    color: black;
    transition: 0.5s;
}
a.download-cv:hover::before{
    left: 0;
    width: 100%;
}
.container{
    float: right;
    width: 75%;
    background-color: rgb(252 254 252);
    animation: openContainer 2s forwards;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes openContainer{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.title{
    text-transform: uppercase;
    margin: 1rem 0;
    letter-spacing: 0.2rem;
}
.about-me{
    padding: 2rem;
}
.about-me > div{
    display: flex;
}
.about-me .content{
    line-height: 1.4;
    text-align: justify;
    width: 50%;
    margin-top: 1rem;
}
.about-me .bg-tt{
    text-align: center;
    width: 50%;
}
.about-me .bg-tt img{
    transform: scale(1.5);
}
.about-me .bg-tt img:hover{
}
/* create tag Hr */
.hr-icon{
    position: relative;
    width: 100%;
    height: 100px;
}
.hr-icon i{
    color: #ccc;
    background-color: white;
    animation: float 3s linear infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(-.2rem);
    }

    50% {
        transform: translateY(.2rem);
    }
}

.hr-icon::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    top: 50%;
}
.hr-right i{
    font-size: 6rem;
    display: inline-block;
    position: absolute;
    right: 10%;
}
.hr-left i{
    font-size: 6rem;
    display: inline-block;
    position: absolute;
    transform: translateY(-50%);
    left: 10%;
}
.my-knowledge{

}
.my-knowledge .box-ls{
    width: 80%;
    display: flex;
    padding: 0 5rem;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin: 3rem auto;
    flex-wrap: wrap;
}
.my-knowledge .box-ls .item-l{
    width: 150px;
    height: 150px;
    padding: 1.5rem;
    border: 10px solid #ccc;
    border-radius: 50%;
    margin: 1rem;
}
.experience{
    padding: 2rem;
}

/* Projects */
.projects .box-p{
    width: 90%;
    margin: 3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.projects a.wrap-p{
    display: block;
    width: 300px;
    height: 300px;
    margin: 1rem;
    box-shadow: .3rem .5rem 1rem rgb(187, 187, 187);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}
.projects a.wrap-p:hover{
    transform: translateY(-15px);
    transition: 0.5s;
}
.projects a.wrap-p img{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
    object-position: top;
}

/* Contact */
.contact-me form{
    width: 500px;
    max-width: 95%;
    margin: auto;
}
.contact-me form div input,
.contact-me form textarea
{
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border:2px solid #ccc ;
    border-radius: .3rem ;
    margin: .5rem 0;
    color: rgb(90, 90, 90);
}
.contact-me{
    margin-bottom: 1rem;
}
.contact-me form  div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact-me form div input{
    width: 48%;
}
.contact-me form textarea{
    resize: none;
    width: 100%;
}
.contact-me form .btn{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    background-color: #545454;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
    justify-content: center;
}
.contact-me form .btn i{
    margin-left: 0.5rem;
}
.contact-me form .btn:hover{
    opacity: 0.7;
}
/* Footer */
footer{
    width: 100%;
    height: auto;
    padding: .2rem;
    background-color: black;
    color: rgb(153, 153, 153);
    text-align: center;
    margin-top: 3rem;
}
footer p{
    font-weight: 200;
    font-size: 1rem;
}
